{% extends "base.html" %}
{% block content %}
<head>
    <title>Formulario de Campaña</title>
</head>
<body>
    <div class="container">
        <div class="justify-content-center">
          <div class="card mx-auto col-md-5">
            <div class="card-header text-center">
                <h2>Crear Campaña de Donacion</h2>
            </div>
            <div class="">
                <form method="post" action="{% url 'crear_campana' %}">
                    <div class="m-3">

                        {% csrf_token %}
                        {{ form.as_p }}
                    </div>
                    <div class="text-center justing-conten-center card-footer">
                        <button class="btn btn-success" type="submit">Guardar</button>
                        <a href="http://127.0.0.1:8000/menu_principal/" class="btn btn-danger">Cancelar</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</body>
 {% endblock %}