{% extends "base.html" %}

{% block content %}
  <h1>Fecha: {{ object.fecha }}</h1>
  
  <p><strong>Cliente:</strong> {{ object.cliente.usuario.email }}</p>
  <br>
  <p><strong>Motivo:</strong> {{ object.motivo }}</p>
  <p><strong>Fecha:</strong> {{ object.fecha }}</p>
  <p><strong>Banda Horaria: </strong>{{ object.banda_horaria }}</p><br>

  <form method="post" action="{% url 'aceptar turno' object.id %}">
    {% csrf_token %}
    <input type="hidden" name="turno_id" value="{{ object.id }}">
    <button type="submit">Rechazar Turno</button>
  </form>

  <form method="post" action="{% url 'rechazar turno' object.id %}">
    {% csrf_token %}
    <input type="hidden" name="turno_id" value="{{ object.id }}">
    <button type="submit">Aceptar Turno</button>
  </form>
{% endblock %}
