<footer style=" height: 100px; border-width: 1px; border-style:double; background-color: khaki;">
    <nav>
        <ul>
            <ul class="sidebar-nav">
            <!--

                {% if user.is_authenticated %}
                    {% if user_type == 'vet' %}
                        <h2>Funciones para Veterinarios</h2>
            -->
                        <!-- Código HTML para las funciones de los Veterinarios -->
            <!--
                    {% elif user_type == 'client' %}
                        <h2>Funciones para Clientes</h2>
            -->
                        <!-- Código HTML para las funciones de los Clientes -->
             <!--
                    {% endif %}

                {%endif%}
             -->
            
               

            </ul>

            <!--ACA VAN LAS FUNCIONALIDADES EN COMUN DEL CLIENTE  SOLAMENTE-->
            {% if user.is_authenticated %}
                
                <li>Usuario: {{ user.get_username }}</li>
                
                <form style="display:inline-block; border: teal;" action="http://127.0.0.1:8000/registrar_adopcion/">
                    <input type="submit" value="Registrar Mascotas Para Adopción" />
                </form>

                <form style="display:inline-block; border: teal;" action="http://127.0.0.1:8000/registrar_mascota/">
                    <input type="submit" value="Registrar Mascotas" />
                </form>

                <form style="display:inline-block; border: teal;" action="http://127.0.0.1:8000/ver_mis_adopciones/">
                    <input type="submit" value="Ver mis publicaciones de adopción" />
                </form>

                <form style="display: inline-block;" action="http://127.0.0.1:8000/ver_mis_mascotas/">
                    <input type="submit" value="Ver Mis Mascotas" />
                </form>

                <form style="display: inline-block;" action="http://127.0.0.1:8000/cambiar_contraseña/">
                    <input type="submit" value="Cambiar Contraseña" />
                </form>
                
                <form style="display:inline-block; border: teal;" action="http://127.0.0.1:8000/solicitar_turno/">
                    <input type="submit" value="Solicitar Turno" />
                </form>

                <form style="display: inline-block;" action="http://127.0.0.1:8000/cerrar_sesion/">
                    <input type="submit" value="Cerrar Sesion" />
                </form>

                <form style="display: inline-block;" action="http://127.0.0.1:8000/confirmar_turnos/">
                    <input type="submit" value="Confirmar Turnos" />
                </form>

                <form style="display: inline-block;" action="http://127.0.0.1:8000/registrar_servicio/">
                    <input type="submit" value="Registrar Servicio de Terceros" />
                </form>

                <form style="display: inline-block;" action="http://127.0.0.1:8000/ver_servicios/">
                    <input type="submit" value="Ver Servicio de Terceros" />
                </form>

                <form style="display: inline-block;" action="http://127.0.0.1:8000/registrar_urgencia/">
                    <input type="submit" value="Registrar Urgencia" />
                </form>

               {% else %}
                <form style="display: inline-block;" action="http://127.0.0.1:8000/inicio_sesion/">
                    <input type="submit" value="Iniciar Sesion" />
                </form>
                <form style="display: inline-block;" action="http://127.0.0.1:8000/registro/">
                    <input type="submit" value="Registrar" />
                </form>
                
               {% endif %}



               
                    

                    
                    
               


            
            
            <!--FUNCIONALIDAD EN COMUN-->

          
            <form style="display: inline-block; " action="http://127.0.0.1:8000/menu_principal/">
                <input type="submit" value="Menu Principal" />
            </form>
            <form style="display: inline-block;" action="http://127.0.0.1:8000/about/">
                <input type="submit" value="Más Infomación" />
            </form>
            <form style="display: inline-block; border: teal;" action="http://127.0.0.1:8000/adopcion/">
                <input type="submit" value="Ver Mascotas en Adopción" />
            </form>
            
        
        </ul>
            


        </ul>
    </nav>
</footer>