<nav class="navbar navbar-expand-lg">
    <div class="container-fluid">
        <a href="http://127.0.0.1:8000/menu_principal/" class="navbar-brand me-auto">
            <img style="height:45px ;" src="https://github.com/Vane-git/Imagenes/blob/main/brand.png?raw=true" alt=""
                srcset="">
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <style type="text/css">
            .dropdown-menu li {
                position: relative;
            }

            .dropdown-menu .dropdown-submenu {
                display: none;
                position: absolute;
                left: 100%;
                top: -7px;
            }

            .dropdown-menu .dropdown-submenu-left {
                right: 100%;
                left: auto;
            }

            .dropdown-menu>li:hover>.dropdown-submenu {
                display: block;
            }
        </style>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <!--FUNCIONALIDAD EN COMUN-->

            <!-- <form style="display: inline-block;" action="http://127.0.0.1:8000/">
                <input type="submit" class="m-2 btn btn-outline-success" value="Menu Principal" />
            </form> -->

            <!--ACA VAN LAS FUNCIONALIDADES EN COMUN DEL CLIENTE  SOLAMENTE-->
            {% if user.is_authenticated %}
            <div class="dropdown">
                <a class="btn btn-outline-success dropdown-toggle" href="#" role="button" id="dropdownMenuLink"
                    data-bs-toggle="dropdown" aria-expanded="false">
                    Usuario
                </a>
                <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                    <li>
                        <a class="btn btn-outline-success dropdown-item" href="http://127.0.0.1:8000/perfil/">Mi
                            Perfil</a>
                    </li>
                    <li><a class="btn btn-outline-success dropdown-item"
                            href="http://127.0.0.1:8000/solicitar_turno/">Solicitar Turno</a></li>
                    <li>
                        <a class="dropdown-item dropdown-toggle" href="#">Mis Mascotas</a>
                        <ul class="dropdown-menu dropdown-submenu">
                            <li><a class="btn btn-outline-success dropdown-item"
                                    href="http://127.0.0.1:8000/ver_mis_mascotas/">Mis Mascotas</a></li>
                            <li><a class="btn btn-outline-success dropdown-item"
                                    href="http://127.0.0.1:8000/ver_mis_adopciones/">Mis publicaciones de adopción</a>
                            </li>
                            <li><a class="btn btn-outline-success dropdown-item"
                                    href="http://127.0.0.1:8000/ver_mis_perdidos/">Mis Mascotas Perdidas</a></li>
                            <li><a class="btn btn-outline-success dropdown-item"
                                    href="http://127.0.0.1:8000/ver_mis_encontrados/">Mis Mascotas Encontradas</a></li>
                        </ul>
                    </li>
                    <li><a class="btn btn-outline-success dropdown-item"
                            href="http://127.0.0.1:8000/cambiar_contraseña/">Cambiar Contraseña</a>
                    </li>
                </ul>
            </div>

            <div class="dropdown" style="display: inline-block;">
                <button class="btn btn-outline-success m-2 dropdown-toggle" type="button" id="dropdownMenuButton1"
                    data-bs-toggle="dropdown" aria-expanded="false">
                    Mascotas
                </button>
                <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                    <li><a class="m-2 btn btn-outline-success dropdown-item"
                            href="http://127.0.0.1:8000/registrar_mascota/">Registrar Mascota</a></li>
                    <li><a class="m-2 btn btn-outline-success dropdown-item"
                            href="http://127.0.0.1:8000/registrar_adopcion/">Registrar Mascotas Para Adopción</a> </li>
                    <li><a class="m-2 btn btn-outline-success dropdown-item"
                            href="http://127.0.0.1:8000/adopcion/">Mascotas en Adopción</a></li>
                    <li><a class="m-2 btn btn-outline-success dropdown-item"
                            href="http://127.0.0.1:8000/publicar/">Publicar Mascota Perdidas</a></li>
                    <li><a class="m-2 btn btn-outline-success dropdown-item"
                            href="http://127.0.0.1:8000/publicar_no_registrada/">Publicar Mascota No Registrada
                            Perdida</a></li>
                    <li><a class="m-2 btn btn-outline-success dropdown-item"
                            href="http://127.0.0.1:8000/publicar_encontrada/">Publicar Mascota Encontrada</a></li>
                </ul>

            </div>
            <div class="dropdown" style="display: inline-block;">
                <button class="btn btn-outline-success m-2 dropdown-toggle" type="button" id="dropdownMenuButton1"
                    data-bs-toggle="dropdown" aria-expanded="false">
                    Servicios
                </button>
                <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">


                    <form style="display: inline-block;" action="http://127.0.0.1:8000/ver_perdidos/">
                        <input type="submit" class="btn" value="Mascota Perdidas" />
                    </form>

                    <form style="display: inline-block;" action="http://127.0.0.1:8000/ver_encontrados/">
                        <input type="submit" class="btn" value="Mascota Encontradas" />
                    </form>

                    <form style="display: inline-block;" action="http://127.0.0.1:8000/ver_servicios/">
                        <input type="submit" class="btn" value="Paseadores/Cuidadores" />
                    </form>
                </ul>
            </div>


            <form style="display: inline-block;" action="http://127.0.0.1:8000/ver_campanas/{{ user.id }}/">
                <input type="submit" class="m-2 btn btn-outline-success" value="Campañas" />
            </form>


            <!--veterinario-->
            {% if user.is_veterinario %}

            <div class="dropdown" style="display: inline-block;">
                <button class="btn btn-outline-success m-2 dropdown-toggle" type="button" id="dropdownMenuButton1"
                    data-bs-toggle="dropdown" aria-expanded="false">
                    Veterinario
                </button>
                <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                    <li><a class="m-2 btn btn-outline-success dropdown-item"
                            href="http://127.0.0.1:8000/registro/">Registrar Usuario</a></li>
                    <li>
                        <a class="m-2 dropdown-item dropdown-toggle" href="#">Turnos</a>
                        <ul class="dropdown-menu dropdown-submenu">
                            <li><a class="btn btn-outline-success dropdown-item"
                                href="http://127.0.0.1:8000/confirmar_turnos/">Confirmar Turnos</a></li>
                            <li><a class="btn btn-outline-success dropdown-item"
                                    href="http://127.0.0.1:8000/turnos_confirmadosHasta/">Turnos Confirmados</a></li>
                            <li><a class="mbtn btn-outline-success dropdown-item"
                                    href="http://127.0.0.1:8000/turnos_programados/">Ver Turnos Programados</a></li>
                        </ul>
                    </li>
                    <li><a class="m-2 btn btn-outline-success dropdown-item"
                        href="http://127.0.0.1:8000/crear_campana/">Crear Campaña</a></li>
                    <li><a class="m-2 btn btn-outline-success dropdown-item"
                            href="http://127.0.0.1:8000/registrar_servicio/">Registrar Paseadores/Cuidadores</a></li>
                    <li><a class="m-2 btn btn-outline-success dropdown-item"
                            href="http://127.0.0.1:8000/cargar_veterinarias/">Cargar Veterinarias de Turno</a></li>
                    <li><a class="m-2 btn btn-outline-success dropdown-item"
                            href="http://127.0.0.1:8000/ver_todas_las_visitas/">Ver todas las visitas</a></li>
                        <li>
                </ul>
            </div>


            {% endif %}


            <form style="display: inline-block;" action="http://127.0.0.1:8000/ver_veterinarias_de_turno/">
                <input type="submit" class="m-2 btn btn-outline-success" value="Veterinarias de Turno" />
            </form>

            <form style="display: inline-block;" action="http://127.0.0.1:8000/about/">
                <input type="submit" class="m-2 btn btn-outline-success" value="Más Infomación" />
            </form>




            <div class="navbar-nav ms-auto">
                <li>
                    <a class="m-2 btn btn-outline-success" href="http://127.0.0.1:8000/confirmar_cerrar_sesion/">Cerrar
                        Sesion</a>
                </li>
            </div>


            {% else %}
            <form style="display: inline-block;" action="http://127.0.0.1:8000/adopcion/">
                <input type="submit" class="m-2 btn btn-outline-success" value="Mascotas en Adopción" />
            </form>
            <form style="display: inline-block;" action="http://127.0.0.1:8000/ver_campanas/">
                <input type="submit" class="m-2 btn btn-outline-success" value="Campañas" />
            </form>

            <div class="dropdown" style="display: inline-block;">
                <button class="btn btn-outline-success m-2 dropdown-toggle" type="button" id="dropdownMenuButton1"
                    data-bs-toggle="dropdown" aria-expanded="false">
                    Servicios
                </button>
                <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                    <form style="display: inline-block;" action="http://127.0.0.1:8000/ver_perdidos/">
                        <input type="submit" class="btn" value="Mascota Perdidas" />
                    </form>

                    <form style="display: inline-block;" action="http://127.0.0.1:8000/ver_encontrados/">
                        <input type="submit" class="btn" value="Mascota Encontradas" />
                    </form>

                    <form style="display: inline-block;" action="http://127.0.0.1:8000/ver_servicios/">
                        <input type="submit" class="btn" value="Paseadores/Cuidadores" />
                    </form>
                </ul>
            </div>
            <form style="display: inline-block;" action="http://127.0.0.1:8000/ver_veterinarias_de_turno/">
                <input type="submit" class="m-2 btn btn-outline-success" value="Veterinarias de Turno" />
            </form>
            <form style="display: inline-block;" action="http://127.0.0.1:8000/about/">
                <input type="submit" class="m-2 btn btn-outline-success" value="Más Infomación" />
            </form>
            <div class="navbar-nav ms-auto">
                <form class="navbar-nav" style="display: inline-block;" action="http://127.0.0.1:8000/inicio_sesion/">
                    <input type="submit" class="m-2 btn btn-outline-success" value="Iniciar Sesion" />
                </form>
            </div>


            {% endif %}

        </div>
    </div>
</nav>