<footer style="background-color: gray; height: 100px; border-width: 2px; border-style:double;">
    <nav>
        <ul>
            <ul class="sidebar-nav">
            
               {% if user.is_authenticated %}
                 <li>Usuario: {{ user.get_username }}</li>
                <form style="display: inline-block;" action="http://127.0.0.1:8000/cerrar_sesion/">
                    <input type="submit" value="Cerrar Sesion" />
                </form>
               {% else %}
                <form style="display: inline-block;" action="http://127.0.0.1:8000/inicio_sesion/">
                    <input type="submit" value="Iniciar Sesion" />
                </form>
               {% endif %}
            </ul>
            
            <form style="display: inline-block; " action="http://127.0.0.1:8000/menu_principal/">
                <input type="submit" value="Menu Principal" />
            </form>
            <form style="display: inline-block;" action="http://127.0.0.1:8000/about/">
                <input type="submit" value="Más Infomación" />
            </form>
            <form style="display: inline-block; border: teal;" action="http://127.0.0.1:8000/adopcion/">
                <input type="submit" value="Ver Mascotas en Adopción" />
            </form>

            <!--ACA VA LO DEL CLIENTE SOLAMENTE-->
            {% if user.is_authenticated %}
            <form style="display:inline-block; border: teal;" action="http://127.0.0.1:8000/registrar_adopcion/">
                <input type="submit" value="Registrar Mascotas Adopción" />
            </form>

            <form style="display: inline-block;" action="http://127.0.0.1:8000/ver_mis_mascotas/">
                <input type="submit" value="Ver Mis Mascotas" />
            </form>
            {% endif %}
            

            


        </ul>
    </nav>
</footer>