{% extends "base.html" %}

{% block content %}
<div class="container">
    <div class="justify-content-center">
        <div class="card col-md-6 col-lg-6 mx-auto">
            <div class="card-header text-center">
                <h1>Registro de desparacitacion</h1>
            </div>
            <div class="card-body m-2">
                <form method="post" action="{% url 'formulario_desparasitante' turno_id %}">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <div class="text-center m-5">
                        <button class="btn btn-success" type="submit">Pagar Servicio</button>
                        <form method="post" action="{% url 'calcelar_turno' turno_id  %}">
                            {% csrf_token %}
                            <button class="btn btn-danger" type="submit">Cancelar</button>
                        </form>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}