{% extends 'base.html' %}
{% load static %}
{% block content %}
    <div class="col-md-12 text-center" style="height: 370px;">
        <img style="height: 350px;" src="https://img.freepik.com/vector-gratis/veterinario-muchos-tipos-animales_1308-65733.jpg"
            alt="Imagen de presentasión">
    </div>

    <!--Botones-->
    <div class="dropdown" style="display: inline-block;"></div>
        <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1"></ul>
        <a class="m-2 btn btn-outline-success dropdown-item"
            href="http://127.0.0.1:8000/publicar/">Publicar Perro Perdido</a>
        
        <a class="m-2 btn btn-outline-success dropdown-item"
            href="http://127.0.0.1:8000/publicar_no_registrada/">Publicar Perro No Registrado Perdido</a>
        
        <a class="m-2 btn btn-outline-success dropdown-item"
            href="http://127.0.0.1:8000/publicar_encontrada/">Publicar Mascota Encontrada</a>
        
        <a class="m-2 btn btn-outline-success dropdown-item"
            href="http://127.0.0.1:8000/ver_mis_perdidos/">Ver Mis Mascota Perdidas</a>
        
        <a class="m-2 btn btn-outline-success dropdown-item"
            href="http://127.0.0.1:8000/ver_mis_encontrados/">Ver Mis Mascota Encontradas</a>
        
        
    </div>
{% endblock %}
