{% extends "base.html" %}

{% block content %}
  <h1>Nombre: {{ object }}</h1>

  <p><strong>Color:</strong> {{ object.color }}</p>
  <p><strong>Raza:</strong> {{ object.raza }}</p>
  <p><strong>Fecha De Nacimiento:</strong> {{ object.fecha_nac }}</p>
  <p><strong>Foto: </strong></p><br>

  {%if object.foto %}
    <img src="{{ object.foto.url }}" alt="Foto de la mascota">
  {%else%}
    No tiene foto
  {%endif%}
  <form method="post" action="{% url 'confirmar_eliminar_mascota' object.id %}">
    {% csrf_token %}
    <input type="hidden" name="mascota_id" value="{{ object.id }}">
    <button type="submit">Dar de Baja</button>
</form>

<form method="post" action="{% url 'main' %}">
  {% csrf_token %}
  <input type="hidden" name="" value="">
  <a href="{% url 'Ver mis Mascotas' %}"><button>Volver</button></a>

</form>

<button type="button" onclick="return false;">Ver historial de turnos</button>
<button type="button" onclick="return false;">Ver historial de visitas</button>


{% endblock %}
