{% extends "base.html" %}

{% block content %}
<div class="card col-5">
  <div class="card-header">
    <h1>Nombre: {{ object }}</h1>
  </div>
  <div class="card-body">
    <p><strong>Raza:</strong> {{ object.raza }}</p>
    <p><strong>Color:</strong> {{ object.color }}</p>
    <p><strong>Fecha De Nacimiento:</strong> {{ object.fecha_nac }}</p>
    <p class="{% if mascota.estado == 'a' %}text-success{% elif mascota.estado == 'e' %}text-danger{% endif %}">{{ mascota.estado }}</p>
    {% if object.estado == 'a' %}<p><strong>Mascota adoptada</strong></p>{% endif %}
  </div>
</div>

{% if user.is_authenticated %}
  <div class="text-center">
    <a href="http://127.0.0.1:8000/ver_mis_adopciones/" class="btn btn-primary">Volver</a>
  </div>
{% else %}
  <div class="text-center">
    <a href="http://127.0.0.1:8000/" class="btn btn-primary">Volver</a>
  </div>
{%  endif%}
  
{% endblock %}
