{% extends "base.html" %}

{% block content %}
    <h1>Lista de Perros en Adopcion</h1>

    {% if object_list %}
    <ul>

      {% for perro in object_list %}
      <li>
        <a href="{{ perro.get_absolute_url }}">{{ perro }}</a> 
        <br> Dueño: {{perro.dueno.datos.apellido}} {{perro.dueno.datos.nombre}}
        <br> Contacto: {{perro.dueno.datos.correo}} 
        <br> Nombre del Perro: {{perro}}
        <br>
        <a href="{{ perro.get_absolute_url }}">Detalle</a>
        <br>
        <br>
        <form style="display:inline-block; border: teal;" action="http://127.0.0.1:8000/formulario_adopcion/">
          <input type="submit" value="Adoptar Mascota" />
        </form>
      </li>
      {% endfor %}

    </ul>
    {% else %}
      <p>Todavia no hay perros en adopcion, regrese más tarde</p>
      <br>
      <form style="display:inline-block; border: teal;" action="http://127.0.0.1:8000/">
        <input type="submit" value="Volver al Menu Principal" />
      </form>
    {% endif %}
{% endblock %}
