{% extends 'base.html' %}

{% block content %}
<div class="container">
    <div class="card text-center">
        <div class="card-header">
            <h2>¿Estás seguro de que quieres {{accion}}?</h2>
        </div>
        <div class="card-body">
            <form style="display: inline-block;" action="{% url 'eliminar_adopcion' pk=pk %}">
                <input type="submit" class="m-2 btn btn-danger" value="Eliminar Mascota" />
            </form>
            <form style="display: inline-block;" action="http://127.0.0.1:8000/ver_mis_adopciones/">
                <input type="submit" class="m-2 btn btn-success" value="Cancelar" />
            </form>
        </div>
    </div>
</div>
{% endblock %}