{% extends "base.html" %}

{% block content %}
<div class="container">
    {% if object_list %}
    <div class="text-center">
      <img class="m-5" style="width: 80px;" src="https://files.cults3d.com/uploaders/14728184/illustration-file/e7344747-32a4-4f27-b460-f34ba9594bf7/PATA-PIES-CORAZON-ALMOHADA.png" alt="" srcset="">
      <label class="h1">Mis Perros en Adopcion</label>
      <img class="m-5" style="width: 80px;" src="https://files.cults3d.com/uploaders/14728184/illustration-file/e7344747-32a4-4f27-b460-f34ba9594bf7/PATA-PIES-CORAZON-ALMOHADA.png" alt="" srcset="">
    </div>
    <div class="col-md-12 text-center row">

      {% for perro in object_list %}
      <div class="card col-md-4 mb-4 p-4 bg-light">
        <p class="m-2">
          <strong>Nombre: </strong>{{perro}}
        </p>
        <a class="m-2" href="{% url 'detalle adopcion' pk=perro.pk %}"> Detalle </a>

        {% if perro.estado == "a"%}
          <p class="m-2"><strong><label class="h4" style="color:#e87c09">Adoptado</label></strong></p>
        {% endif %}

        <form action="{% url 'marcar_adopcion' pk=perro.pk %}" method="post" style="display:inline-block;">
          {% csrf_token %}  
          <button class="m-2 btn btn-success" type="submit" {% if perro.estado == "a" %}disabled{% endif %}>Marcar como Adoptado</button>
        </form>

        <form action="{% url 'confirmar_eliminar_adopcion' pk=perro.pk %}" method="post" style="display:inline-block;">
          {% csrf_token %}  
          <button class="m-2 btn btn-danger" type="submit">Eliminar Mascota en Adopción</button>
        </form>
        <br>
      </div>
      {% endfor %}

    </div>
    {% else %}
      <p>Todavia no hay perros en adopcion</p>
    {% endif %}
{% endblock %}
