{% extends "base.html" %}

{% block content %}
    <h1>Mi lista de perros en adopción</h1>

    {% if object_list %}
    <ul>

      {% for perro in object_list %}
      <li>
        <a href="{{ perro.get_absolute_url }}">{{ perro }}</a> 
        <br> Nombre del Perro: {{perro}}

        <hr>

        {% if perro.estado == "a"%}
          <p><strong>Adoptado</strong></p>
        {% endif %}

        <form action="{% url 'marcar_adopcion' pk=perro.pk %}" method="post" style="display:inline-block;">
          {% csrf_token %}  
          <button type="submit" {% if perro.estado == "a" %}disabled{% endif %}>Marcar como Adoptado</button>
        </form>
        <br>
        <a href="{{ perro.get_absolute_url }}"> Detalle </a>
        <br>
        <br>
      </li>
      {% endfor %}

    </ul>
    {% else %}
      <p>Todavia no hay perros en adopcion, regrese más tarde</p>
    {% endif %}
{% endblock %}
