{% extends 'base.html' %}
{% load static %}
{% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body style="background-color: azure; border: black; border-style: double;">
    <h>Oh My Dog!</h>

    <p>Esta veterinaria esta abierta de 7:00 AM hasta las 18:00 PM</p>

    <p>Ofrece estos servicios:</p>
</body>
</html>

{% endblock %}