{% extends 'base.html' %}
{% load static %}
{% block content %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Menú Principal</h1>
    <b>
        Bienvenido a Little Lemon!!!
    </b>
    <br>
    <img src="https://st3.depositphotos.com/1496387/15986/v/950/depositphotos_159865294-stock-illustration-restaurant-logo-icon-or-symbol.jpg" alt="Imagen de presentasión">
    
</body>
</html>

{% endblock %}