

<!DOCTYPE html>
<html lang="en">
<body>
  <form>
    <!-- Elementos del formulario se agregan aquí -->

    <!-- nombre de usuario -->
    <label for="usuario">Usuario:</label>
    <input type="text" id="usuario" name="usuario" required>

    <!-- contraseña -->
    <label for="contrasena">Contraseña:</label>
    <input type="password" id="contrasena" name="contrasena" required>

    <!-- boton -->
    <form style="display: inline-block; width: 100px;" action="http://127.0.0.1:8000/menu_principal/">
      <!-- Elementos del formulario se agregan aquí -->
      <input type="submit" value="Iniciar sesión">
    </form>

  </form>
</body>
</html>