{% extends 'base.html' %}
{% load static %}


{% block content %}
<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-8">
            <div class="card">
                <div class="card-header text-center">
                   <label for="" class="h1">
                   {{ cliente.usuario.first_name }}
                    </label>
                </div>

                <div class="card-body">
                    <div class="row">
                        <div class="col-md-6">
                            <p><strong>Nombre:</strong> {{ cliente.datos.nombre }}</p>
                            <p><strong>Apellido:</strong> {{ cliente.datos.apellido }}</p>
                            <p><strong>DNI:</strong> {{ cliente.datos.dni }}</p>
                            <p><strong>Correo electrónico:</strong> {{ cliente.datos.correo }}</p>
                        </div>

                        <div class="col-md-6">
                            <p><strong>Dirección:</strong> {{ cliente.datos.direccion }}</p>
                            <p><strong>Teléfono:</strong> {{ cliente.datos.telefono }}</p>

                            {% if user.is_veterinario %}

                            {% else %}
                                <p><strong>Mascotas:</strong></p>
                                {% if cliente.mascotas %}
                                    <ul>
                                        {% for mascota in mascotas %}
                                            <li>{{ mascota.nombre }} ({{ mascota.raza }})</li>
                                        {% endfor %}
                                    </ul>
                                {% else %}
                                    <p>No tienes mascotas registradas.</p>
                                {% endif %}
                            {% endif %}
                        </div>
                    </div>
                </div>

                {% if user.is_veterinario %}

                {% else%}
                <form style="display: inline-block;" action="http://127.0.0.1:8000/ver_historial_de_turnos/">
                    <input type="submit" class="m-2 btn btn-success" value="Ver Historial de Turnos" />
                </form>
                <form style="display: inline-block;" action="http://127.0.0.1:8000/ver_mis_donaciones/">
                    <input type="submit" class="m-2 btn btn-success" value="Ver Mis Donaciones" />
                </form>
                {% endif %}
            </div>
        </div>
    </div>
</div>
{% endblock %}