{% extends 'base.html' %}
{% load static %}


{% block content %}
<div class="container">
  <div class="card">
    <div class="card-header">
      <h2>{{titulo}}</h2>
    </div>
    <div class="card-body p-5">
      <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <strong>Informacion de la Red Social</strong><br>
        {{ red_form.as_p}}
        <div class="text-center p-2">
          <button class="btn btn-success" type="submit">Registrar</button>
          <a class="btn btn-danger" href="http://127.0.0.1:8000/menu_principal/">Cancelar</a>
        </div>
      </form>
    </div>
  </div>
</div>
  {% endblock %}
