{% extends "base.html" %}

{% block content %}
<div class="container">

  <div class="card col-md-6 mx-auto">
    <div class="card-header">
      <h1 class="text-center">{{servicio.nombre}} {{ servicio }} </h1>
    </div>
    <div class="card-body m-2">
      <p><strong>Servicio:</strong>  
        {% if servicio.tipo == 'p' %} 
          Paseador 
        {% else %} 
          Cuidador
      {% endif %}
      </p>
      <p><strong>Correo:</strong> {{ servicio.datos.correo }}</p>

      {{ servicio_id }}
      {% if red_social %}
      <p>Seguime en <strong> {{ red_social.nombre_red }} </strong> como {{ red_social.usuario_red }} </p>
      {% endif %}
    </div>
    
    <div class="card-footer text-center">

      {% if object.tipo == 'p' %} 
      <p><strong>Zona</strong> {{ object.zona }}</p>
      {% endif %}
      
    </div>
  </div>
</div>
<div class="text-center mt-2">
  <a href="http://127.0.0.1:8000/ver_servicios/" class="btn btn-primary">Volver</a>
</div>
{% endblock %}
