{% extends "base.html" %}

{% block content %}
<div class="container">
  <div class="col-md-12 text-center row">
    {% if object_list %}
    <div class="titulo">
      <img class="m-5" style="width: 80px;"
        src="https://files.cults3d.com/uploaders/14728184/illustration-file/e7344747-32a4-4f27-b460-f34ba9594bf7/PATA-PIES-CORAZON-ALMOHADA.png"
        alt="" srcset="">
      <label class="h1">Servicios de Terceros</label>
      <img class="m-5" style="width: 80px;"
        src="https://files.cults3d.com/uploaders/14728184/illustration-file/e7344747-32a4-4f27-b460-f34ba9594bf7/PATA-PIES-CORAZON-ALMOHADA.png"
        alt="" srcset="">
        <!-- <div class="text-center mb-5">
          <label for="cars">Buscar Por:</label>
          <select id="cars">
            <option value="volvo">Todos</option>
            <option value="volvo">Paseador</option>
            <option value="saab">Cuidador</option>
          </select>
        </div> -->
    </div>
    {% for servicio in object_list %}
    <div class="card col-md-4 mb-4 p-4 bg-light">
      {% if servicio.tipo == 'p' %}
          <p class="m-4">
            <strong>
              Tipo de Servicio: 
            </strong>
            Paseador
          </p>
          {% else %}
          <p class="m-4">
            <strong>
              Tipo de Servicio: 
            </strong>
            Cuidador
          </p>
        {%endif%}
      <p>
        <strong>
          Nombre de la persona: 
        </strong>
        {{servicio}}
      </p>
      <a class="m-4" href="{{ servicio.get_absolute_url }}">Detalle</a>
    </div>
    {% endfor %}

    </div>
  </div>
  {% else %}
  <p>No hay paseadores ni cuidadores para mostrar, vuelva más tarde</p>

  {% endif %}
{% endblock %}