{% extends "base.html" %}

{% block content %}
<div class="container">
  <div class="row justify-content-center">
    <div class="col-md-8">
      <div class="card">
        <div class="card-header text-center">
          <h1>Nombre: {{ mascota }}</h1>
        </div>
        <div class="card-body">
          <p><strong>Color:</strong> {{ mascota.color }}</p>
          <p><strong>Raza:</strong> {{ mascota.raza }}</p>
          <p><strong>Fecha De Nacimiento:</strong> {{ mascota.fecha_nac }}</p>
          <p><strong>Foto: </strong></p><br>  
          {%if mascota.foto %}
          <img src="{{ mascota.foto.url }}" alt="Foto de la mascota">
          {%else%}
          <label for="" class="text-danger fw-bold">
            No tiene foto
          </label>
        </div>
        {%endif%}
        <div class="card-footer justify-content-center btn-group">
            {% csrf_token %}
            <input type="hidden" name="mascota_id" value="{{ mascota.id }}">
            
            <a class="m-2 btn btn-success" href="http://127.0.0.1:8000/ver_historial_de_visitas/{{ mascota.id  }}">Ver Historial de Visitas</a>
            <a class="m-2 btn btn-success" href="http://127.0.0.1:8000/ver_libreta_sanitaria/{{ mascota.id  }}">Ver Libreta Sanitaria</a>
          </form>
        </div>
        <!-- <div class="card-footer">
      <button type="button" onclick="return false;">Ver historial de turnos</button>
        <button type="button" onclick="return false;">Ver historial de visitas</button>
    </div> -->
      </div>
    </div>
  </div>
</div>

{% endblock %}