{% extends "base.html" %}

{% block content %}
<div class="card col-5">
  <div class="card-header">
    {% if object.devuelto %}
            <p class="m-2"><strong><label class="h4" style="color:#09e81f">Devuelto</label></strong></p>
    {% endif %}

  </div>
  <div class="card-body">

    <p><strong>Contacto:</strong> {{ object.contacto }}</p>
    
    <p><strong>Descripcion:</strong> {{ object.descripcion }}</p>
    <table border="1" width="300" height="200">
      <tr>
        <td align="center" valign="middle">
          <img src="{{ object.foto.url }}" alt="Foto de la mascota" width="100%" height="auto">
        </td>
      </tr> 
    </table>

    
  </div>
</div>
<div class="text-center">
  <a href="http://127.0.0.1:8000/ver_encontrados/" class="btn btn-primary">Volver</a>
</div>
  
{% endblock %}
