{% extends "base.html" %}

{% block content %}
<div class="text-center">
  <h1>Listado de Turnos confirmados</h1>
</div>

{% if turnos_confirmados %}

{% for turno in turnos_confirmados %}
<div class="card mb-5 col-md-5">
  <div class="card-header text-center">
    <h4><strong>Turno:</strong> {{ turno.fecha }}</h4>
  </div>
  <div class="card-body p-2">
    <p><strong>Banda Horaria:</strong> {{ turno.banda_horaria }}</p>
    <p><strong>Cliente:</strong> {{ turno.cliente.usuario.email }}</p>
  </div>
  <div class="text-center card-footer">
    <a href="{% url 'detalle de turno confirmado' pk=turno.pk tipo=tipo %}">Detalle</a>
  </div>


</div>
{% endfor %}

{% else %}
<p>No hay turnos pendientes por el momento</p>
{% endif %}
{% endblock %}