{% extends "base.html" %}

{% block content %}
  <h1>Nombre: {{ mascota.name }}</h1>

  <p><strong>Dueño:</strong> <a href="">{{ mascota.dueno }}</a></p> <!-- author detail link not yet defined -->
  <p><strong>Color:</strong> {{ mascota.summary }}</p>
  <p><strong>Raza:</strong> {{ mascota.isbn }}</p>
  <p><strong>Fecha De Nacimiento:</strong> {{ mascota.language }}</p>
  <p class="{% if mascota.estado == 'a' %}text-success{% elif mascota.estado == 'e' %}text-danger{% endif %}">{{ mascota.estado }}</p>
  {% if mascota.estado == 'a' %}<p><strong>Mascota adoptada</strong></p>{% endif %}
  
{% endblock %}
